<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GWSAutoForAndroid"
        tools:targetApi="31">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GWSAutoForAndroid">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GWSAutoForAndroid.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.workflow.editor.WorkflowEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.GWSAutoForAndroid" />

        <activity
            android:name=".ui.schedule.ScheduleSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.GWSAutoForAndroid" />
            
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.GWSAutoForAndroid" />
            
        <activity
            android:name=".ui.wizard.WizardActivity"
            android:exported="false"
            android:theme="@style/Theme.GWSAutoForAndroid" />

        <activity
            android:name=".ui.filepicker.FilePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.GWSAutoForAndroid" />

    </application>

</manifest>
